$text1:"Roboto" ,sans-serif;
$text2:"Open sans",sans-serif;

$color1:rgb(175, 190, 193);
$color2:rgb(158, 149, 55);
$color2_1:rgb(67, 185, 67);
$color3: rgb(129, 34, 34);
$color3_light: rgb(147, 74, 74);
$color4:rgb(211, 182, 182);
$color5:rgb(52, 37, 37);
$color6:rgb(96, 61, 61);
$color6_1:rgb(54, 37, 37);
$color6_2:rgb(93, 77, 77);

$p: 13.33vmax;
$p_md: 7vmax;
$p_base: 5vmax;
$p_base_inverse: 15vmax 10vmax;
$p_sm: 2vmax;
$p_sm_inverse: 13vmax 0;
$p_zero: 0;